@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:500px;">
    <h1>Story</h1>
    <br/>
    <p class="lead">The application is a website that allows users to post stories, create
        and join groups, and share stories with those groups.</p>
</div>

